body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    font-size: 2rem;
    background-color: black;
    font-family: 'WDXL Lubrifont SC', sans-serif;
    text-align: center;
}

h1{
    color: darkgoldenrod;
    border-bottom: 3px solid darkgoldenrod;
    padding-bottom: 5px;
}

p {
    color: gold;
}

#test {
    border: 3px solid gold;
    border-radius: 15px / 15px;
    padding-left: 3px;
    padding-right: 3px;
}

#strong {
    color: goldenrod;
}

a {
    color: palegoldenrod;
    margin: 3px;
}